body {
    background-color: #31333b;
    color: #fff;
    margin: 0;
    font-family: Helvetica, "Helvetica Neue";
}
li, ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
img {
    width: 100%;
    height: auto;
}
/*Header styles*/
#masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 5px 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 999;
    position: fixed;
    background: #31333b;
    box-shadow: 0 3px 10px #f8c76b5e;
}
.site-branding {
    margin-left: 50px;
}
.menu-toggle {
    display: none;
}
/* .main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
ul#primary-menu {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 70px;
}
li.menu-item a {
    color: #fff;
    padding: 16px 8px;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s ease;
}
li.menu-item a:hover {
    color: #f8c76b;
}
/*Page styles*/
.container {
    max-width: 1300px;
    padding: 20px 15px;
    margin: 0 auto;
    overflow: hidden;
}
section {
    padding: 50px 50px;
}
.hero, .Experience {
    background: #34353a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}
.hero {
    background-image: url(images/portfoliobackground09\(2\).jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh;
    top: 0;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.741) 39.6%, rgba(0, 0, 0, 0) 100%);
    z-index: 0;
}
.HeroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 50%;
}
.HeroTitle {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.8;
}
.heroname {
    font-size: 45px;
    color: #f8c76b;
    font-weight: 700;
    line-height: 1.8;
}
.HeroSubtitle {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.6;
    /* text-transform: uppercase; */
}

.ButtonContainer {
    display: flex;
    gap: 20px;
    margin: 32px 32px 32px 0px;
}
a.PrimaryButton {
    color: #f8c76b;
    border: 3px solid #f8c76b;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
a.PrimaryButton:hover {
    background: #f8c76b;
    color: #000;
    transform: scale(1.2);
}
.sectiontitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.6;
}
.sectioncontent {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: justify;
}
.line {
    width: 44px;
    height: 2px;
    margin-top: 6px;
    background-color: #d3a83c;
    margin-right: 8px;
}
.AboutContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}
.Skillstitle {
    text-align: center;
}
.SkillsSectionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}
.SkillCard {
    background: #3d3e42;
    padding: 35px 25px;
    border-radius: 12px;
    display: flex;
    flex: 0 1 calc(18% - 2px);
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
.SkillCard:hover {
    background: #f0bf6c;
    transform: scale(1.1);
    color: #000;
}
.SkillImgWrapper {
    max-width: 50%;
}
.SkillName {
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
}
.Skills {
    position: relative;
}
.SkillsBgImgWrapper {
    position: absolute;
    width: 12%;
    right: 5%;
    bottom: -10%;
}
.ProjectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
}
.ProjectCard {
    position: relative;
    overflow: hidden;
    display: none; /* Hide all cards by default */
    padding: 34px;
    background-color: aliceblue;
}
.ProjectCard.visible {
    display: block; /* Show only cards with the "visible" class */
}
.ProjectImageWrapper {
    position: relative;
    transition: filter 0.3s ease; /* Smooth transition */
}

.ProjectCard:hover .ProjectImageWrapper {
    filter: blur(6px); /* Blur effect */
}

.ProjectImage {
    object-fit: cover;
    display: block;
}
.ProjectInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2; /* Ensure text is above the overlay */
    transition: opacity 0.3s ease;
    opacity: 0;
}
.ProjectCard:hover .ProjectInfoWrapper {
    opacity: 1; /* Show on hover */
}
.ProjectName {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
}
.ProjectDetails {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    width: 62%;
    text-align: center;
}
.SeeMoreButtonWrapper {
    margin-top: 20px;
}
.SeeMoreBtn {
    padding: 10px 15px;
    background: #f8c76b;
    border-radius: 8px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.ViewMoreButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.ViewMoreProjectsBtn {
    padding: 15px 25px;
    background: #f8c76b;
    border-radius: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.ViewMoreProjectsBtn:hover {
    background: #fff;
    color: #000;
    transform: scale(1.2);
}
.experienceTitle {
    top: -39px;
    position: absolute;
}
.ExperienceContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}
.ExperienceWrapper {
    display: flex;
    position: relative;
    gap: 100px;
    margin-bottom: 40px;
}
.ExperienceBullet {
    content: "";
    position: absolute;
    top: 5px;
    left: 75px;
    width: 15px;
    height: 15px;
    background-color: #f8c76b;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(248, 199, 107, 0.5); 
}
.YearWrapper {
    position: relative;
    display: inline-block;
  background-color: #5a5a5a; /* Background color for the tag */
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  height: 20px;
}
.YearWrapper::before {
    content: '';
    position: absolute;
    top: 49%;
    left: 90%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #5a5a5a; /* Same color as the tag background */
  }
.YearWrapper::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 80px;
    height: calc(100% - -108px);
    border: 1px solid #fff;
}
.CompanyInfo {
    font-size: 16px;
    line-height: 1.8;
}
.experienceMonth {
    font-size: 16px;
    line-height: 1.7;
}
.Designation {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    text-transform: uppercase;
}
.JobDescription {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 100;
    letter-spacing: 0.2px;
    text-align: justify;
    margin-top: 5px;
}
.Education {
    position: relative;
    margin-top: 60px;
}
.EducationBgImgWrapper {
    position: absolute;
    width: 8%;
    left: 1%;
    margin-top: 10px;
}
.EducationInfoWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}
.EducationCard {
    background: #34353a;
    width: 100%;
    padding: 40px 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    flex: 0 0 calc(30% - 12px);
    height: 150px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
}
.educationIconWrapper {
    position: absolute;
    top: 65%;
    right: 5%;
}

.Qualification {
    font-size: 20px;
    line-height: 2.2;
    font-weight: 600;
}
.AcademicYear {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}
.Institute {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 5px;
}
.ContactMe {
    border-top: 3px solid #d3a83c;
    border-bottom: 3px solid #d3a83c;
    background: #3d3e42;
    position: relative;
}
.Contactmetitle {
    text-align: center;
    position: relative;
    top: -95px;
    z-index: 9999;
    background: #31333b;
    width: 20%;
    margin: 0 auto;
}
.ContactContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.EmailandPhoneWrapper {
    display: flex;
    gap: 40px;
}
.ContactInfoCard {
    display: flex;
    gap: 20px;
    background: #2e3037;
    padding: 10px 35px 10px 10px;
    border-radius: 8px;
}
.ContactMeContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #f2c268;
}
.SocialMediaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: #31333b;
    padding: 7px 10px;
    margin: 0 auto;
    position: absolute;
    bottom: -8%;
    left: 0;
    right: 0;
    width: 15%;
}
.footertitle {
    text-align: center;
    color: #f2c268;
    font-weight: 400;
}

/*Mobile responsive styles*/
@media (max-width: 768px) {
  #masthead {
    padding: 15px 20px;
    position: fixed;
    z-index: 99999999;
}

.menu-toggle {
    display: block; /* Show the hamburger menu icon */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
}


/* Make the navigation take full screen */
#site-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #31333b; /* Match your header background color */
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

/* Show the menu when active */
#site-navigation.active {
    transform: translateY(0);
}

/* Style the menu items */
ul#primary-menu {
    flex-direction: column;
    gap: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Style menu links */
li.menu-item a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

li.menu-item a:hover {
    color: #f8c76b;
}

  section {
    padding: 50px 0px;
}
  .HeroContainer {
    text-align: center;
    align-items: center;
    left: 0;
    right: 0;
}
.HeroTitle {
    font-size: 26px;
    line-height: 1.4;
}
.heroname {
    font-size: 35px;
    line-height: 1.4;
}
.HeroSubtitle {
    font-size: 16px;
}
a.PrimaryButton {
    font-size: 12px;
}
.ButtonContainer {
    gap: 20px;
    margin: 32px;
}
.sectiontitle {
    text-align: center;
    font-size: 40px;
}
.sectioncontent {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}
.line {
    width: 175px;
}
.SkillsSectionContainer {
    flex-direction: column;
}
.SkillsBgImgWrapper {
    width: 22%;
    bottom: -1%;
}
.ProjectsContainer {
    grid-template-columns: 1fr;
}
.ProjectName {
    font-size: 14px;
    line-height: 1.2;
}
.ProjectDetails {
    font-size: 12px;
    width: 100%;
    line-height: 1.4;
}
.SeeMoreBtn {
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 12px;
}
.experienceTitle {
    left: 0;
    right: 0;
}
.ExperienceBullet {
    display: none;
}
.YearWrapper {
    display: none;
}
.Designation {
    font-size: 16px;
}
.CompanyInfo {
    font-size: 16px;
    line-height: 1.8;
}
.experienceMonth {
    font-size: 16px;
}
.JobDescription {
    font-size: 12px;
    text-align: left;
}
.EducationBgImgWrapper {
    width: 22%;
}
.EducationInfoWrapper {
    flex-direction: column;
}
.EducationCard {
    width: 80%;
    padding: 55px 30px;
}
.Qualification {
    font-size: 14px;
}
.Institute {
    font-size: 12px;
}
.educationIconWrapper {
    top: 6%;
}
.Contactmetitle {
    top: -90px;
    width: 75%;
}
.EmailandPhoneWrapper {
    flex-direction: column;
}
.ContactContentWrapper {
    gap: 40px;
}
.SocialMediaWrapper {
    bottom: -5%;
    width: 50%;
}
.footertitle {
    font-size: 30px;
}
}
